[Unit]
Description=Water level IoT publisher
After=multi-user.target

[Service]
EnvironmentFile=/home/pi/water-level-app/level_publisher.env
User=root
Group=root
Type=simple
Restart=on-failure
KillMode=control-group
KillSignal=SIGKILL
WorkingDirectory=/home/pi/water-level-app
ExecStart=/usr/bin/python3.11 src/level_publisher/main.py
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target