[Unit]
Description=Water level sensor HTTP local microservice
After=multi-user.target

[Service]
EnvironmentFile=/home/pi/water-level-app/level_sensor.env
User=pi
Group=pi
Type=simple
Restart=on-failure
KillMode=control-group
KillSignal=SIGKILL
WorkingDirectory=/home/pi/water-level-app
ExecStart=/home/pi/.local/bin/uvicorn main:app --port 8080
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target