fastapi==0.115.5
gpiozero==2.0.1
RPi.GPIO==0.7.1
pigpio==1.78
uvicorn[standard]==0.32.0
adafruit-circuitpython-ads1x15==2.2.26
adafruit-circuitpython-mpu6050==1.2.4
requests==2.32.3
AWSIoTPythonSDK==1.5.4