[Unit]
Description=Water level sensor
After=multi-user.target

[Service]
User=pi
Type=simple
Restart=on-failure
KillMode=control-group
KillSignal=SIGKILL
WorkingDirectory=/home/pi/water-level-app
ExecStart=/home/pi/.local/bin/uvicorn main:app --port 8000
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target