[Unit]
Description=Water level sensor
After=multi-user.target

[Service]
User=pi
Group=pi
Type=simple
Restart=on-failure
KillMode=control-group
KillSignal=SIGKILL
ExecStart=/home/pi/.local/bin/uvicorn --app-dir /home/pi/raspberry-water-measurement/ main:app --host 0.0.0.0 --port 8000
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target